
@{
    ViewBag.Title = "Services";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Services</title>
</head>
<body>
    <nav>
        <div class="nt-container">
            <div class="container">
                <div class="nav-top">
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Chișinău, Moldova</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <span>24/7 Open</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-phone"></i>
                        <span>069112233</span>
                    </div>
                    <div class="social-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="nl-container">
            <div class="container">
                <div class="logo">
                    <img src="~/Content/images/car-top.png" alt="">
                </div>
                <ul class="navlist">
                    <li><a href="@Url.Action("Index","Home")">home</a></li>
                    <li><a href="@Url.Action("Login","Home")">login/sign up</a></li>
                    <li><a href="@Url.Action("About","Home")">about</a></li>
                    <li><a href="@Url.Action("Services","Home")">services</a></li>
                    <li><a href="@Url.Action("Carsection","Home")">car</a></li>
                    <li><a href="@Url.Action("Cos","Home")">cos</a></li>
                    <li><a href="@Url.Action("Blogs","Home")">blog</a></li>
                    <li><a href="@Url.Action("Contacts","Home")">contact</a></li>
                    <li><a href="@Url.Action("Profile","Home")">myprofile</a></li>
                    <li><a href="@Url.Action("Review","Home")">reviews</a></li>
                </ul>
                <div class="menu-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </nav>
    <section class="services" id="services">
        <div class="title">
            <h4><i class="fa-solid fa-car"></i></h4>
            <h2>What Services we offer to our clients</h2>
            <p>Loren djhf kdfod djfdi knd sknsie dfjoo.</p>
        </div>
        <div class="container services-container">
            <div class="card">
                <div>
                    <span class="lnr lnr-rocket"></span>
                    <h4>Car accesories</h4>
                </div>
                <p>fndjnf jnfndk slckoj sjd jd nsjvi vjsnvi jisfjn jsnin.</p>
            </div>
            <div class="card">
                <div>
                    <span class="lnr lnr-license"></span>
                    <h4>Technical Repair</h4>
                </div>
                <p>fndjnf jnfndk slckoj sjd jd nsjvi vjsnvi jisfjn jsnin.</p>
            </div>
            <div class="card">
                <div>
                    <span class="lnr lnr-user"></span>
                    <h4>Vast Reservation</h4>
                </div>
                <p>fndjnf jnfndk slckoj sjd jd nsjvi vjsnvi jisfjn jsnin.</p>
            </div>
            <div class="card">
                <div>
                    <span class="lnr lnr-phone"></span>
                    <h4>24/7 Support</h4>
                </div>
                <p>fndjnf jnfndk slckoj sjd jd nsjvi vjsnvi jisfjn jsnin.</p>
            </div>
            <div class="card">
                <div>
                    <span class="lnr lnr-location"></span>
                    <h4>Vast Branches</h4>
                </div>
                <p>fndjnf jnfndk slckoj sjd jd nsjvi vjsnvi jisfjn jsnin.</p>
            </div>
            <div class="card">
                <div>
                    <span class="lnr lnr-car"></span>
                    <h4>Rental Cars</h4>
                </div>
                <p>fndjnf jnfndk slckoj sjd jd nsjvi vjsnvi jisfjn jsnin.</p>
            </div>
        </div>
    </section>
</body>
</html>




































































































