
@using System.Web.Optimization
@{
    ViewBag.Title = "_Header";
}

@Styles.Render("~/Content/css")



<nav>
    <div class="nt-container">
        <div class="container">
            <div class="nav-top">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Chișinău, Moldova</span>
                </div>
                <div>
                    <i class="fa-solid fa-clock"></i>
                    <span>24/7 Open</span>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <span>069112233</span>
                </div>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="nl-container">
        <div class="container">
            <div class="logo">
                <img src="~/Content/images/car-top.png" alt="">
            </div>
            <ul class="navlist">
                <li><a href="@Url.Action("Index","Home")">home</a></li>
                <li><a href="@Url.Action("Login","Home")">login/sign up</a></li>
                <li><a href="@Url.Action("About","Home")">about</a></li>
                <li><a href="@Url.Action("Services","Home")">services</a></li>
                <li><a href="@Url.Action("Carsection","Home")">car</a></li>
                <li><a href="@Url.Action("Cos","Home")">cos</a></li>
                <li><a href="@Url.Action("Blogs","Home")">blog</a></li>
                <li><a href="@Url.Action("Contacts","Home")">contact</a></li>
                <li><a href="@Url.Action("Profile","Home")">myprofile</a></li>
                <li><a href="@Url.Action("Review","Home")">reviews</a></li>
                <li><a href="@Url.Action("Pay","Home")">payment</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>
</nav>
