@using System.Web.Optimization
@{
    ViewBag.Title = "_Header";
}

@Styles.Render("~/Content/css")



<nav>
    <div class="nt-container">
        <div class="container">
            <div class="nav-top">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Chișinău, Moldova</span>
                </div>
                <div>
                    <i class="fa-solid fa-clock"></i>
                    <span>24/7 Open</span>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <span>069112233</span>
                </div>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="nl-container">
        <div class="container">
            <div class="logo">
                <img src="~/Content/images/car-top.png" alt="">
            </div>
            <ul class="navlist">
                <li><a href="@Url.Action("Index","Home")" data-lang-key="home">home</a></li>
                <li><a href="@Url.Action("Login","Home")" data-lang-key="login">login/sign up</a></li>
                <li><a href="@Url.Action("About","Home")" data-lang-key="about">about</a></li>
                <li><a href="@Url.Action("Services","Home")" data-lang-key="services">services</a></li>
                <li><a href="@Url.Action("Carsection","Home")" data-lang-key="cars">car</a></li>
                <li><a href="@Url.Action("Cos","Home")" data-lang-key="cart">cos</a></li>
                <li><a href="@Url.Action("Blogs","Home")" data-lang-key="blog">blog</a></li>
                <li><a href="@Url.Action("Contacts","Home")" data-lang-key="contact">contact</a></li>
                <li><a href="@Url.Action("Profile","Home")" data-lang-key="profile">myprofile</a></li>
                <li><a href="@Url.Action("Review","Home")" data-lang-key="reviews">reviews</a></li>
                <li><a href="@Url.Action("Pay","Home")" data-lang-key="payment">payment</a></li>
                @if (Session["Level"] != null && (int)Session["Level"] == 1)
                {
                    <li><a href="@Url.Action("Cars","Admin")">AdminMod</a></li>
                }
            </ul>
            <div class="menu-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>
</nav>
